version: 2.1
orbs:
  workflow-queue: promiseofcake/workflow-queue@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.6

filters: &filters
  tags:
    only: /.*/

workflows:
  test-internal-queue:
    jobs:
      - workflow-queue/internal-queue:
          filters:
            tags:
              ignore: /.*/
          context: orb-publishing
  test-queue:
    jobs:
      - workflow-queue/queue:
          filters:
            tags:
              ignore: /.*/
          context: orb-publishing
  test-deploy:
    jobs:
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: promiseofcake/workflow-queue
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
          context: orb-publishing
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
